body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    margin: 0;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 300px;
    color: white;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 220px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    outline: none;
}

button {
    padding: 10px 20px;
    background: #ff6f61;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    /* transition: background 0.3s ease; */
}

button:hover {
    background: #ff3d2e;
}

#weatherResult {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

#weatherResult h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

#weatherResult p {
    margin: 5px 0;
    font-size: 18px;
}

h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
}

img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}